@import "../../../scss/vars";

.services {
  margin: 50px auto;
  align-items: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

h1 {
  text-align: center;
  grid-column: span 3;
  color: $second-color;
}

@media screen and (max-width: 460px) {
  .services {
    display: block;
  }

  h1 {
    font-size: 1.1em;
    color: $accent-color;
  }
}
