@import "../../../scss/vars";
.nav__menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  position: absolute;
  top: 55px;
  left: -200px;
  width: 20%;
  background-color: $accent-color;
  opacity: 0;
  transition: 0.3s;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.menu-vision {
  opacity: 1;
  left: 0px;
  transition: 0.3s;
}
