.services-main {
  width: 90%;

  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;

  .services-main-right {
    width: 50%;
    img {
      // width: 100%;
      height: 350px;
      border-radius: 20px;
    }
  }
}
