.news {
  padding: 1em 0;

  h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }

  &__list {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
