@import "../../../scss/vars";
.d-block {
  weight: 100%;
  height: 100vh;
  object-fit: cover;

  img {
    width: 200px;
  }
}

.descr {
  border-radius: 10px;
  color: #fff;
  background-color: $global-bgc;
}
