@import "../../../scss/vars";

.footer {
  display: flex;
  justify-content: space-around;
  background-color: $global-bgc;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #fff;
  color: #fff;
}
