.contact-us {
  height: 500px;
  width: 40%;
  margin: auto;
  form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // align-items: center;
    // align-items:space;
  }
  display: flex;
}
